*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .left {
    position: relative;
    float: left;
    width: 23%;
    height: 110%;
    background-color: rgba(127, 207, 247, 0.918);
  }
  .empbutton {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 50%;
    height: 50px;
    font-size: 18px;
    text-shadow: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(89, 130, 243);
    outline: none;
  }
  .studbutton {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 50%;
    height: 50px;
    font-size: 18px;
    text-shadow: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(89, 130, 243);
    outline: none;
  }
  .empbutton:active,
  .studbutton:active {
    color: rgb(241, 139, 139);
    background-color: rgb(161, 180, 233);
  }
  .right {
    position: absolute;
    left: 35%;
    right: 0%;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    grid-gap: 4px;
    background-color: rgb(167, 217, 241);
    padding: 6px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .gcontainer {
    padding: 20px;
    margin-left: 30px;
    margin-right: 150px;
  }
  .gheader {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(167, 217, 241);
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
  }
  .grid > div {
    display: grid;
    background-color:  rgb(250, 249, 249);
    grid-template-rows: 30px 10px;
    padding: 10px;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .addcontainer {
    padding: 2%;
    width: 55%;
    background-color:  rgb(253, 252, 252);
    border: solid rgb(123, 201, 240);
    border-radius: 6px;
    margin-left: 6.5%;
    margin-right: 600px;
    height: 180px;
  }
  .name {
    margin-left: 3%;
    margin-bottom: 5%;
    bottom: 10%;
    height: 30px;
    border: solid  rgb(147, 209, 240);
    border-radius: 6px;
  }
  .area {
    margin-left: 4%;
    margin-bottom: 5%;
    bottom: 10%;
    height: 30px;
    border: solid rgb(147, 209, 240);
    border-radius: 6px;
  }
  .id {
    margin-left: 8%;
    margin-bottom: 5%;
    bottom: 10%;
    height: 30px;
    width: 165px;
    border-radius: 6px;
    border: solid rgb(147, 209, 240);
  }
  .add {
    float: right;
    position: relative;
    width: 70px;
    height: 30px;
    color: rgb(0, 0, 0);
    bottom: 50px;
    border-radius: 10px;
    cursor: pointer;
    border-color:rgb(59, 98, 117);
    background-color: rgb(255, 255, 255);
    outline: none;
  }
  
  .add:active {
    background-color: rgb(165, 233, 207);
  }
  
  .heading {
    margin-left: 5.5%;
    width: 50%;
    height: 5%;
    text-align: center;
    font-size: 17px;
  }
  .form {
    white-space: pre;
  }